Source: xen-4.3-mini
Section: unknown
Priority: extra
Maintainer: Alex Bligh <alex@flexiant.com>
Version: @VERSION@-@BUILDDATE@
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.flexiant.com/

Package: xen-4.3-mini
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Xen 4.3 Hypervisor minipackage
 Xen 4.3 Hypervisor minipackage
 Build date @BUILDDATE@
 Xen revision @XENREVISION@
 Upstream QEMU revision @QEMUREVISION@



